<div class="card-text">
    {% for content in contents %}
        <p>
            <a href="{{ path(content) }}" class="content-title">{{ content.title|raw }}</a>
            <br>
            <span class="content-body small text-muted">{{ content.body | striptags | decode_html | truncate(70) }}</span>
        </p>
    {% endfor %}
</div>