{% block sonata_media_type_widget %}
    <div class="fileupload fileupload-new row" data-provides="fileupload">
        <div class="col-sm-3 pull-left">
            {% if value is not empty and value.providerReference %}
                <div class="fileupload-new  fileupload-preview fileupload-exists thumbnail"
                     style="max-width: 200px; max-height: 150px; line-height: 20px;">
                    {% thumbnail value, 'small' %}
                </div>
                <strong>{{ value.name }}</strong>
                <br/>
            {% else %}
                <div class="fileupload-new  fileupload-preview fileupload-exists thumbnail"
                     style="max-width: 200px; max-height: 150px; line-height: 20px;">
                    <img src="{{ asset('assets/images/AAAAAAtextnoimage.gif') }}"/>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-9 btn-group">
            <span class="btn btn-file">
                <span class="fileupload-new btn btn-success">Select image</span>
                {{ form_widget(form.binaryContent, {'required':false}) }}
            </span>
            <div class="btn">
                {{ form_row(form.unlink) }}
            </div>
        </div>
    </div>
{% endblock sonata_media_type_widget %}